body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    background-color:aqua;
    text-align: center;
    padding: 16px;
    margin: 16px 40vw;
}

a {
    color: black;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}

#attribution_salad {
    padding: 0 33.5vw;
    font-style: italic;
}

#attribution_pasta {
    padding: 0 35vw;
    font-style: italic;
}

#attribution_steak {
    padding: 0 35vw;
    font-style: italic;
}

div.description {
    background-color: aqua;
    padding: 16px;
    margin: 16px;
}

div.ingredients {
    background-color: aqua;
    padding: 16px;
    margin: 16px;
}

div.steps {
    background-color: aqua;
    padding: 16px;
    margin: 16px;
}